@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bodyBgColor: #f4f7ff;
    --primaryColor: white;
    --secondaryColor: #3752FD;
    --fontFamily: "Poppins";
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: "nav nav nav"
        "board board history";
    grid-template-columns: 1.5fr 1.5fr 1fr;
    gap: 1vw;
    background-color: var(--bodyBgColor);
    padding: 2vw 6vw 0;
    font-family: var(--fontFamily);
    justify-content: center;
}

nav {
    grid-area: nav;
    background-color: var(--primaryColor);
    padding: 2%;
    border-radius: max(10px, 1vw);
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.1);
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

.navContainer .logo {
    display: flex;
    align-items: center;
    gap: 5%;
}

.navContainer .logo h1 {
    color: #00303C;
    font-size: 1.5vw;
}

.navContainer .logo h1 span {
    font-weight: 300;
}

.navContainer .logo img {
    width: 3vw;
}

.navContainer .others {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer .others h3 {
    font-size: 1.5vw;
}

.navContainer .others img:nth-child(1) {
    width: 1.5vw;
    border-radius: 0 !important;
}

.navContainer .others img {
    width: 2vw;
    background-color: var(--bodyBgColor);
    padding: 0.8vw;
    border-radius: 50%;
}

.mainBoard {
    grid-area: board;
    background-color: var(--primaryColor);
    border-top-left-radius: max(10px, 1vw);
    border-top-right-radius: max(10px, 1vw);

}

.boardHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 2% .5% 1%;
    background-color: var(--primaryColor);
    border-radius: max(10px, 1vw);
}

.mainBoard h3 {
    font-size: 1vw;
    font-weight: 400;
    color: #00303C;
}

.mainBoard h2,
.activityLog h2 {
    font-size: 1.2vw;
}

.mainBoard p {
    font-size: 0.9vw;
    font-weight: 400;
    color: #00303C;
}

.mainBoard .boardHeader .flex img {
    width: 1.5vw;
}

.mainBoard .boardHeader .flex:nth-child(2) {
    background: linear-gradient(160deg, var(--secondaryColor) 20%, var(--primaryColor) 150%);
    padding: 3.5% 0;
    cursor: pointer;
    color: var(--primaryColor);
}

.mainBoard .boardHeader .flex:nth-child(2) img {
    width: 5vw;
}

.mainBoard .boardHeader .flex .headerImg {
    padding: 8%;
    height: 1.5vw;
    background: white;
    border-radius: 50%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bodyBgColor);
    padding: 2% 3%;
    margin: 0 .8vw;
    border-radius: 10px;
}


.hr {
    border: none;
    height: 3px;
    background: repeating-linear-gradient(90deg, var(--bodyBgColor) 0 10px, transparent 10px 20px);
    margin: 0 auto 2%;
}

.boardBody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 2%;
}

.boardBody .bodyContent {
    background-color: var(--bodyBgColor);
    margin: 0 1vw 2vw;
    padding: 5%;
    border-radius: max(10px, 1vw);
}

.boardBody .bodyContent h2 {
    margin: 4% 0;
}

.boardBody .bodyContent h3 {
    width: fit-content;
    background-color: var(--primaryColor);
    padding: 2% 4%;
    border-radius: 10px;
}

.boardBody .bodyContent p {
    background-color: var(--primaryColor);
    width: fit-content;
    border-radius: 10px;
    padding: 2% 5%;
    margin: 5% 0;
}


.bodyContent #dl,
.bodyContent #dlt {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#dl {
    color: black;
}

.primeBtn {
    border: none;
    border-radius: .5vw;
    background-color: var(--secondaryColor);
    padding: .8vw 1vw;
    font-size: 1vw;
    font-weight: 600;
    color: var(--primaryColor);
    cursor: pointer;
}

.bodyContent .inlineContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bodyBgColor);
}

.activityLog {
    grid-area: history;
    background-color: var(--primaryColor);
    padding: 6%;
    border-radius: max(10px, 1vw);
}

.activityLog .logHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 0 0 3%;
}

.logHeader h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.logHeader h2 img {
    width: 2vw;
}

.activityLog p {
    font-size: 1vw;
    background-color: var(--bodyBgColor);
    padding: 5%;
    border-radius: max(10px, 1vw);
    margin: 5% 0 3%;
}

.blogBody {
    grid-column: 1 / span 3;
}

.blogContainer .blogContent {
    background-color: var(--primaryColor);
    margin: 0 0 1vw;
    padding: 0 1vw;
}

.blogContainer .blogContent h2 {
    padding: 1vw 0;
    font-size: 1.9vw;
}

.blogContainer .blogContent hr {
    margin: 0 -1vw;
    opacity: 0.3;
}

.blogContainer .blogContent p {
    padding: 1vw 0;
    font-size: 1.2vw;
}
